html, body {
  background: #333;
  color: white; }

body {
  width: 100%; }

video {
  width: 100%; }

.container {
  padding: 10px; }

#seeker {
  width: 100%;
  height: 25px;
  position: relative; }

#markers {
  position: relative;
  height: 25px; }
